/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url(/assets/footer_lodyas.png);
  color: #5AFF38;
  font-family: 'Ubuntu Mono';
  text-align: center;
}

.prediction-list {
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.prediction {
  border: 1px solid #5AFF38;
  background-image: url(/assets/navy_blue.png);
  margin-bottom: 1.5em;
}

.new {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.5em;
} 

blockquote {
  border-left: 0;
}

textarea {
  outline: none;
  border-radius: 5px;
  width: 45%;
  background: grey;
  opacity: .8;
}

input[type="submit"] {
  border: none;
  height: 44px;
  border-radius: 5px;
  outline: none;
  padding: 0px 10px;
  background-color: #5E84CC;
  margin-bottom: 10px;
}

section {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.nav-pills {
  display: inline-block;
}