<h1>Postradamus</h1>

<div ng-controller="PredictionsCtrl as predictions">

<form novalidate="" name="predictionForm" ng-submit="addPrediction(prediction)" role="form">
  <textarea ng-model="prediction.body"></textarea>
  <br><input type="submit" value="Submit" />
</form>

<div class="prediction-list">

  <div class="prediction" ng-show"prediction.body">
    <blockquote>
      <h3>{{prediction.body}}</h3>
    </blockquote>
  </div>


  <div class="prediction" ng-repeat="prediction in predictions | orderBy: '-upvotes'">
    <h3>{{prediction.body}}</h3>
    <p>{{prediction.user_email}}</p>
    <p>Agree: {{prediction.upvotes}} <a href="" ng-click="incrementUpVote(prediction.id, prediction.upvotes); prediction.upvotes = prediction.upvotes + 1">&#9650;</a> | Disagree: {{prediction.downvotes}} <a href="" ng-click="incrementDownVote(prediction.id, prediction.downvotes); prediction.downvotes = prediction.downvotes + 1">&#9660;</a></p>
    <p ng-show="checkOwner(prediction)"><a href="" ng-click="deletePrediction(prediction)">DELETE</a></p>
  </div>
</div>

</div>